.al{
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    
}
.contactalign{
    text-decoration: dashed;
    font-family: cursive;
    text-align: left;
    margin-left: 15%;
}
.conbg{
    background-color: rgb(132, 220, 220);
}
