.position {
  align-items: center;
  margin: 0;
  width: 100%;
  position: fixed;
  background: #fff;
    top: 0;
    box-shadow: 0 2px 35px 0 rgb(0, 0, 0 /10%);
    display: flex;
    transform: translateY(0);
    z-index: 1001;
}
.logrig{
  text-align: right;
  width:80%;
  
}