.register {
  padding: 20px;
  margin: 15px ;

}
.bag{
  // <img src="./images/R.jpg"alt=""/>
  // background-color: aquamarine;
  
  background-image: image("./images/R.jpg");
  

}
.color{
  color: blue;
}